body {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
}

svg {
  vertical-align: sub !important;
  /* margin-right: 6px; */
}

.modal {
  backdrop-filter: brightness(0.5);
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}